###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [24]:
# CODE HERE
p={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
p

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [15]:
# CODE HERE
x=p.keys()
print(x)

dict_keys(['Gender', 'Location', 'Name', 'Occupation'])

> **`Question:` Remove Location in person1**

In [22]:
# CODE HERE
a={'Age': 27,
 'Gender': 'Male',
   'Location':'HYD',
 'Name':'Srikanth',
 'Occupation': 'Data Scientist'}
a.pop('Location')
a

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [23]:
# CODE HERE
p2={'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}
p2

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [27]:
# CODE HERE
print("==================== person1 ====================")
print(p)
print("==================== person2 ====================")
print(p2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 27, 'Gender': 'Male', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [34]:
# CODE HERE
l={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del l[1]
l.pop(2)
l.popitem()
print(l)

{3: 9, 4: 16, 5: 25, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [39]:
# CODE HERE
p={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in range(9,1,-2):
    print(p[i])

81
49
25
9

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [41]:
# CODE HERE
d1 = { 'a': 1, 'b': 2 }
d2 = { 'b': 3, 'c': 4 }
d3 = { 'c': 5, 'd': 6 }
d1.update(d2)
d1.update(d3)
print(d1)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [43]:
# CODE HERE
s = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
s['emp3']['salary']=8500
s

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [44]:
# CODE HERE
s = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(s["class"]["student"]["marks"]["history"])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [47]:
# CODE HERE
p={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
p.pop('Location')
p['area']= 'Nizampet, Hyderabad'
p

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'area': 'Nizampet, Hyderabad'}

In [ ]:
d = {'ram':1234,'raghu':5678,'kanav':1357}
u=str(input("Enter the user name"))
i=int(input("Enter the user password"))
if d[u]==i:
      print('hello',u)

In [ ]:
d = {'ram':1234,'raghu':5678,'kanav':1357}
u=str(input("Enter the user name "))
i=int(input("Enter the user password "))
if u in d.keys():
    if d[u]==i:
        print('hello',u)
elif u not in d.keys():
    d.update({u:i})
    print(d)
else:
    print("Enter user name and user password ")