# Functions and Methods 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [2]:
def vol(r):
    vol=(4/3)*(22/7)*(r**3)
    return vol
p=vol(5)
print(p)

523.8095238095237

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [3]:
def check(number,low,high):
    if number>low and number<high:
        print("the  number is in a given range")
    else:
        print("the  number is not in a given range")
p=check(20,1,10)

the  number is not in a given range

If you only wanted to return a boolean:

In [6]:
def check_boolen(number,low,high):
    if number>low and number<high:
        print(True)
    else:
        print(False)
check_boolen(5,1,10)

True

In [0]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [4]:
def up_low(s):
    l=0
    k=0
    for i in s:
        if i.islower()==True:
            l=l+1
        elif i.isupper()==True:
            k=k+1
        
    print("No. of lower case characters : ",l)
    print("No. of Upper case characters : ",k)   
    return
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of lower case characters :  33
No. of Upper case characters :  4

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [10]:
def unique(l):
    a=set(l)
    print(list(a))
    return
unique([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [16]:
def multiply(n): 
    p=1
    for i in n:
        p*=i
    print(p)
    return
multiply([1, 2, 3, -4])   
        
    # code here

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [20]:
def palin(t):
    k=t[::-1]
    if t==k:
        print(True)
    else:
        print(False)
    return
palin('helleh')

helleh
True

## Given a number N.Find Sum of 1 to N Using Recursion

In [23]:
def sum(n):
    p=0
    for i in range(n+1):
        p+=i
    print(p)
    return
sum(5)

15

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [5]:
def s(n):
    d=[]
    for i in range(1,n+1):
        l=i*i
        d.append(l)
    print(d)
    return
s(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [2]:
def dict(n):
    k={}
    for i in range(1,n+1):
        p={i:i*i}
        k.update(p)
    print(k.keys())
    return 
dict(20)

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [5]:
def count(s):
    p=s.split()
    for i in p:
        print(i,len(i))
    return
count('innomatics research labs')

innomatics 10
research 8
labs 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [1]:
def sq(n):
    return n*n
p=[1,2,3,4,5,6,7,8,9,10]
r=map(sq,p)
print(list(r))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [3]:
p=[1,2,3,4,5,6,7,8,9,10]
def base(n):
    if n%2==0:
        return True
    else:
        return False
x=filter(base,p)
def sq(n):
    return n*n
r=map(sq,x)
print(list(r))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [5]:
p=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
def base(n):
    if n%2==0:
        return True
    else:
        return False
x=filter(base,p)
l=list(x)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [10]:
def f(n):
    k=(n-1)
    l=(n-2)
    return k+l
f(7)

11